<header class="w-full">
    <h1>Compañia de luz</h1>
    <img src="https://preciogas.com/sites/preciogas.com/files/styles/article_hero/public/images/tarifas-luz-825x293.png.webp" alt="Compañia de luz">
</header>
